* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 500 1rem Inter, sans-serif;
}

:root {
  --white: #fff;
  --blue: #3483fa;
  --gray-50: #f7f8fa;
  --gray-100: #e6e8eb;
  --gray-200: #afb2b1;
  --gray-500: #808080;
  --gray-800: #494d4b;
  --green-500: #04d361;
  --purple-300: #9f75ff;
  --purple-400: #9164fa;
  --purple-500: #8257e5;
  --purple-800: #6f48c9;
}

button {
  cursor: pointer;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
  margin: 1em 0;
  padding: 0;
}

small {
  color: var(--gray-200)
}

main {
  margin-top: 5rem;
}

.search-bar {
  width: 40vw;
  background: white;
  padding: 0.3rem;
  border: solid 1px silver;
  display: flex;
}

.search-bar input {
  all: unset;
  flex: 1;
}
.search-bar input::placeholder {
  color: silver;
  font-size: 1rem;
}
.search-bar button {
  all: unset;
  color: silver;
}
.search-bar button:hover,
.card:hover {
  cursor: pointer;
}

.slider {
  height: 500px; 
  overflow-y: hidden;
}
.slider:hover {
  overflow-y: auto;
}
.slider::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

.slider::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

.slider::-webkit-scrollbar-thumb {
  background: silver;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}